﻿@model IEnumerable<NoteManager.Models.Note>

@{
    ViewBag.Title = "NoteManager";
}

@using (Html.BeginForm())
{
    <p>
        Find by contains in Title: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<h2>Index</h2>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Sort by Priority", "Index", new { sortOrder = ViewBag.PrioritySortParam })
        </th>
    </tr>
    <tr> 
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NoteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.NoteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NoteID })
        </td>
    </tr>
}
</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>